*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/Dragon.API/client_secret.json
/Dragon.API/token.json
/Dragon.Serverless.API/local.settings.dev.json
/Dragon.Serverless.API.IntegrationTests/.runsettings-func
/Dragon.Serverless.API.IntegrationTests/.runsettings
/Dragon.Serverless.API.IntegrationTests/.runsettings-api
dragon-frontend-react/.env
dragon-frontend/src/tailwind.output.css
