.scanner-desktop {
  max-width: 800px;
  margin: 0px auto;
  min-height: 600px;
}

.scanner-desktop img {
  max-width: -webkit-fill-available;
  margin: 32px;
}

.scanner-mobile {
  text-align: center;
  height: -webkit-fill-available;
  margin-bottom: 80px;
}

.scanner-mobile img {
  max-width: -webkit-fill-available;
  max-height: 300px;
  margin: 16px;
}

.scanner-stats {
  width: -webkit-fill-available;
  margin-bottom: 32px;
}

.scanner-buttons-mobile {
  background-color: white;
  padding: 16px;
  position: fixed;
  bottom: 0px;
  width: -webkit-fill-available;
}

video {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 64px;
  min-width: 100vw;
  min-height: 100vh;
  max-width: inherit;
}

button.ant-btn.camera-button.ant-btn-circle.ant-btn-lg.ant-btn-icon-only {
  position: fixed;
  top: 64px;
  right: 0px;
  margin: 12px;
  width: 48px;
  height: 48px;
}

button.ant-btn.torch-button.ant-btn-circle.ant-btn-lg.ant-btn-icon-only {
  position: fixed;
  top: 64px;
  right: 58px;
  margin: 12px;
  width: 48px;
  height: 48px;
}

.camera-button svg {
  width: 32px;
  fill: rgba(0, 0, 0, 0.65);
}

.camera-button svg:hover {
  fill: #1890ff;
}

.scanner-stats .ant-statistic-content-value-int {
  font-size: 30px;
}
.scanner-stats .ant-statistic-content-value-decimal {
  font-size: 20px;
}
.scanner-stats .ant-statistic-content-suffix {
  font-size: 20px;
}
